{
  "plugins": [
    "babel-plugin-macros",
    "babel-plugin-styled-components",
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    ]
  ]
}