{
  "presets": [
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@emotion/babel-preset-css-prop",
    "@babel/preset-typescript"
  ],
  "plugins": ["babel-plugin-twin", "babel-plugin-macros"]
}
